.profilecard-wrapper {
    min-width: 300px;
    width: 100%;
    max-width: 400px;
    background-color: white;
    margin: 1rem;
    height: 30vh;
    display: flex;
    position: relative;
}

.profilecard-image {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: grayscale(80%);    
}

.profilecard-image:hover {
    filter: grayscale(10%);
    cursor: pointer;
}

.profilecard-content-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: flex;
    width: 300px;
    height: 100px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
}

.profilecard-name {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}

.profilecard-link {
    color: rgb(145, 145, 145);
    margin-top: 1rem;
    text-align: start;
}