.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20rem;
  flex-direction: column;
  height: 100vh;
  background: #0B0C10;
}

.fancy-button {
  height: 10rem;
  width: 30vw;
  padding:2rem;
  text-align: middle;
  background-color: #66FCF1;
  color: black;
  font-size: 2rem;
  border: none;
  border-bottom: 6px solid #45a29e;
}
.fancy-button:active {
  transform: translate(0, 3px);
  border-bottom: 1px solid #45a29e;
}

.fancy-title {
  color: #66FCF1;
  text-transform: uppercase;
  font-size: 5rem;
  filter: drop-shadow(0 6px 0.3rem #5f7a9b);
}
